@use '../../styles/variables' as *;

.logo {
  display: flex;
  align-items: center;
  line-height: 1;
}

.img {
  width: auto;
  height: 88px;
  object-fit: contain;

  @media (max-width: 480px) {
    height: 66px;
  }
}