@use '../../../../styles/variables' as *;

.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0,0,0,0.4);
  z-index: 100;
  display: flex;
  justify-content: flex-end;
  animation: fadeIn 300ms ease;
}

.menu {
  width: 80%;
  max-width: 400px;
  height: 100%;
  background-color: $color-white;
  display: flex;
  flex-direction: column;
  animation: slideIn 300ms ease;
}

.header {
  height: $nav-height;
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $color-border;
}

.title {
  font-weight: 500;
  font-size: 1.125rem;
}

.closeBtn {
  color: $color-foreground;
}

.links {
  flex: 1;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.link {
  font-size: 1.25rem;
  font-weight: 500;
  color: $color-foreground;
}

.footer {
  padding: 24px;
  border-top: 1px solid $color-border;
}

.button {
  width: 100%;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideIn {
  from { transform: translateX(100%); }
  to { transform: translateX(0); }
}
